<figure>
    <img src={{link}} />
    <h2>{{category_name}}</h2>
    <p>Plants that are typically grown indoors under varied or unatural lighting conditions</p>
    <a class="main_links" href="/api/category/"{{id}}>View Plants</a>
</figure>