 <article class="item">
      <div class="title">
        <span><a href="/item/{{id}}">{{category_name}}</a></span><br>
      </div>
      <div class = "content">
          <p>{{item.title}}</p>
      </div>
    </article>