 <article class="item">
      <div class="title">
        <span><a href="/category/{{id}}">{{category_name}}</a></span><br>
      </div>
      <div class = "content">
          <p>{{category_name}}</p>
      </div>
    </article>