<article>
  <a href="/"> &larr; Back to home</a>
  <h2>
    Add Item
  </h2>
  <form class="new-post-form">
    <div>
      <input name="post-title" type="text" value="" />
    </div>
    <div>
      <textarea name="post-text" value=""></textarea>
    </div>
        <div>
      <input name="category-id" type="text" value="" />
    </div>

    <!--<div>
      Posted by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>-->
    <button type="submit">Save item</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<!--Scripts-->
<script src="/javascript/add-item.js"></script>
<!--<script src="/javascript/delete-item.js"></script>
