:root{
    --light: #fbfffe;
    --grey: #363837;
    --grey_opac: #36383750;
    --orange: #e64731;
    --green: #71a54a;
}

body, html{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}    

h1,h2,h3,h4,h5,h6{
    color: var(--grey);
}

footer li, footer h3, footer p, footer label{
    color: var(--light);
}

h1{font-size: 70px;}
h2{font-size: 40px;}
h3{font-size: 30px;}
h4{font-size: 20px;}
h5{font-size: 10px;}
h6{font-size: 5px;}

header{
    background-color: var(--grey);
    flex:0 0 500px;  
}   

    article, section{
        max-width: 1440px;
        display: flex;
        margin: 0 auto;
    }

    header article{
        position: relative;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    header article *{
        z-index: 2;
        color: var(--light);   
    }

    #logo{
        width: 200px;
        height: 200px;
        opacity: 0.9;
        /*background-color:var(--green);*/
        border-radius: 50%;                
        transition: all .5s;
        cursor: pointer;
    }

    #logo:hover {
        transform: rotate(360deg);
    }

    nav{
        /*background-color: chocolate;*/
        bottom: 0;
        right: 0;
        font-size: 22px;
        position: absolute;
    }

    nav li{
        display: inline-block;
        margin: 10px;
    }

    nav li a:hover{
        color: var(--orange);
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        z-index: 1;
        object-position: center;
        object-fit: cover;
      }

main{
    background-color: var(--light);
    flex:1;
}

    main article{
        background-color:var(--light);
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:space-between;
    }

        figure{
            flex:1;
            border: solid 2px var(--grey_opac);
            border-radius: 10px;         
            margin: 20px 0 20px 20px;
            text-align: center;
            padding: 40px 20px;  
        }

            figure img{
                width: 150px;
                height: 150px;
                border-radius: 50%;                
                transition: all .5s;               
            }
/*
            figure img:hover {
                transform:scale(1.5, 1.5);
            }*/
        
        figure *{
            margin: 20px 0px;
        }

        figure:first-of-type{
            margin: 20px 0;
        }

        .main_links{
            background-color:var(--orange);
            color: var(--light);
            padding: 10px;
            border-radius: 4px;
            transition: all .3s;
        }

        .main_links:hover {
            background-color: var(--grey);
            color: var(--light);
            opacity: 0.8;
        }

        main article:last-of-type{
            background-color: var(--green);
            max-width: 100%;
        }

            section{        
                justify-content: center;
                align-content: center;
            }

            section img{
                width: 15%;
            }

            section figure{
                border: none;
                padding: 20px; 
            }

            section *{
                color: var(--light);
            }

 footer{
    background: var(--grey);
    padding-top: 20px;
    padding-bottom: 40px;
    flex:0 0 100px;
  }

    .cell:nth-child(1) h3,.cell:nth-child(4) h3{
        text-align: left;
    }

    footer h3{
        padding-top: 20px;         
    }

    footer p {
        padding-top: 20px;
        padding-right: 10px;
    }

    .pl-60{
        padding-left: 60px;
    }
    
    footer p {
        padding-top: 20px;
        padding-right: 10px;
    }
     
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0 5px; 
    }
      
    footer li{
        padding-top: 5px;
        cursor: pointer;
    }
      
    li:hover{
        color: #ddd;
    }
      
    .btn-custom{
        background: #535c68;      
    }
      
    .btn-custom:hover{
        background: #17191b;
    }
      
    .bottom{
        background: #797f86;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .bottom ul{
        display: flex;
    }
      
    .bottom ul li{
        padding-right: 25px;
        cursor: pointer;
    }
    
    .bottom p{
        margin: 0px; 
    }

@media only screen and (max-width: 749px) {
    main article{
        flex-direction:column;
    }

    figure{
        margin: 20px 0px 0px;
        border-width: 0px 0px 2px 0px;
        border-radius: 0px;
    }

    section img{
        width: 60px;
        height: 60px;
    }

    nav{
        right:auto;
    }
}
































/*
header{
    background-color: brown;
    flex:0 0 800px;  
}

main{
    background-color: darkgreen;
    flex:1;
}

    article{
        background-color:beige;
        min-height: 400px;
        max-width: 980px;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    article:nth-of-type(even) {
        flex-direction:row-reverse;
    } 

    section{
        background-color: blueviolet;
        flex:2;
        min-width: 55%;
    }

    article section:first-child{
        background-color: orangered;
        flex:0;
        min-width: 400px;
        
    }

    img{
        width: 100%;
        height: 100%;
    }

 footer{
    background-color: dodgerblue;
    flex:0 0 200px;
 }*/